version: '3.8'
services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - NTFY_BASE_URL=http://localhost:8081
      - NTFY_AUTH_DEFAULT_ACCESS=read-write
    ports:
      - "8080:80"
    volumes:
      - ./ntfy-cache:/var/cache/ntfy
    restart: unless-stopped
